<!--The whole content below can be removed with the new code.-->
<div class="col-xs-12">
  <div class="row">
    <h1>
      Welcome to {{title}}!! test
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Box from which to drag</h3>
      <app-navigation></app-navigation>
    </div>
    <div class="col-md-8">
      <h3>Box to drag things into</h3>
      <app-drop-area></app-drop-area>
    </div>
  </div>
</div>
